html, body {
    width: auto;
    font-family: Calibri;

}

.hidden {
    display: none;
}
.info{
    text-align: center;
}
.night {
    background-color: #2a2a2e;
    color: rgba(249, 249, 250, 0.8);
}

.optionsnight {
    float:right;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    filter: invert(50);
}

.optionsnight:hover {
    background-color: #cacaca;
    color: rgba(249, 249, 250, 0.8);
}
.options{
    float:right;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.options:hover {
    background-color: rgba(73, 56, 36, 0.26);
}